.nav{
	padding-top: 10px;
    padding-right: 10px;
    background-color: gray;
    position: relative;
    height: 50px;
}

.logo {
	height: 25px;
	width: 25px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    border: 1px solid black;
    border-color: black;
}

li{
	text-decoration: none;
	display: inline-block;
}

a{
	color: purple;
}

